POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_DB=pet_dashboard

SITE_DOMAIN=pet-dashboard.steffan.lol
ACME_EMAIL=contact@steffan.lol

TRACTIVE_EMAIL=
TRACTIVE_PASSWORD=
TRACTIVE_CLIENT_ID=625e533dc3c3b41c28a669f0
TRACTIVE_TRACKER_IDS=
LOCATION_HISTORY_HOURS=48
SYNC_DRY_RUN=false
